.header--small {
  background-color: var(--secondary-background-color) !important;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px white;
  border-radius: 20px;
  transform: scale(0.95);
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 120px;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;

  &__logo {
    width: 100px;
    height: 50px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__contact {
    font-size: 20px;
    font-weight: 500;
    color: var(--background);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__icon {
    width: 25px;
    height: 25px;
    transition: all 0.2s;
    color: var(--background);
  }
}

@media(max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}

@media(max-width: 480px) {
  .header {
    padding: 0 10px;
    height: 60px;

    &__logo {
      width: 80px;
      height: 40px;
    }

    &__contact {
      font-size: 16px;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }
}
