.hero-section {
  background-image: url('../../../public/images/hero-bg.jpg');
  height: 110vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: var(--background);
  text-align: center;
  padding: 100px 120px;
  font-family: 'Montserrat', sans-serif;

  &__title {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--title-color);
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 40px;
    font-weight: 500;
    color: var(--secondary-background-color);
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 80vh;
    padding: 80px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;


    &__title {
      font-size: 60px;
    }

    &__subtitle {
      font-size: 30px;
    }
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 50vh;
    padding: 80px 10px;

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}

@media (min-width: 2300px) {
  .hero-section {
    height: 80vh;
  }
}

@media (min-width: 3000px) {
  .hero-section {
    height: 50vh;
  }
}
